body {
    margin: 0;
    font-family: 'Verdana';
}

header {
    background: #470187;
    padding: 1em;
    text-align: center;
    color: white;
}

.about-me-section {
    padding: 1em;
}

.about-me-description {
    text-align: center;
}